:root {
    --background-color: #121212;
    --navbar-color: #1f1f1f;
    --primary-color: #ff4500;
    --hover-color: #e03e00;
    --text-color: #ffffff;
    --font-family: Arial, sans-serif;
    --background-image: none; /* No imagen de fondo por defecto */
}

body {
    background-color: var(--background-color);
    background-image: var(--background-image);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-container img {
    height: 60px;
    margin-left: 20px;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-bar input[type="text"], .search-bar button, .login-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.search-bar button, .login-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

.search-bar button:hover, .login-button:hover {
    background-color: var(--hover-color);
}

.right-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    transform: translateX(-40px);
}

.login-button {
    margin-right: 10px;
}

.shopping-cart-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin-top: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}
 
.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #e03e00;
    
}

/* Botón Volver a Inicio */
.back-to-home {
    text-align: center;
    margin-top: 20px;
}

.homebtn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.homebtn:hover {
    background-color: var(--hover-color);
}
